#!/bin/sh
# .aliases

## Basic Commands
alias ..="cd .."
alias la="ls -a"
alias ll="ls -lh"
alias lla="ls -lha"
alias cp="cp -v"
alias mv="mv -v"
alias rm="rm -v"
alias mkdir="mkdir -v"
alias grep="grep --color=auto"
## Programs
alias ytdlm="youtube-dl -x --audio-format mp3 --embed-thumbnail"
